#cabecera {
    background-color: rgb(187, 187, 187);
    width: 100%;
    border: solid 1px black;
    padding-left: 5px;
    margin-bottom: 5px;
}

#navegacion {
    width: 100%;
    height: 50px;
    background-color: rgb(172, 82, 172);
    border: solid 1px black;
    padding-top: 5px;
    margin-bottom: 5px;
}

#navegacion ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#navegacion ul li {
    float: left;
    border: solid 1px black;
    padding: 5px;
    margin: 5px;
}

#contenido {
    width: 100%;
    height: 500px;
    background-color: rgb(106, 214, 231);
    border: solid 1px black;
    padding-left: 5px;
    padding-top: 5px;
    overflow-y: scroll;
    margin-bottom: 5px;
}

#pie {
    width: 100%;
    background-color: rgba(234, 162, 227, 0.39);
    border: solid 1px black;
    padding-left: 5px;
    padding-top: 5px;
}

#imagen {
    border: solid 1px rgb(193, 236, 144);
    float: left;
    text-align: center;
}