header{
    position: relative;
    overflow:hidden ;
    border-bottom: 3px solid rgb(129, 226, 209);
    height: 100px;
    margin-top: 1em;
}
img{
    margin-top: 1em;
    width: 9%;
    float: left;
    left: 12%;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    font-size: 1em;
    margin: 2%;
}
#menu{
    width: 50%;
    float: right;
    position: relative;
    right: 12%;
    left: 25%;
    margin: 1em;
    
}
a{
    text-decoration: none;
    color: rgb(25, 147, 66);
}
